.title {
    font-size: 72px;
    text-align: center;
}

.container {
    padding: 30px 250px 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.question {
    margin-top: 20px;
    caret-color: #0C102D;
    accent-color: #0C102D;
    outline-color: #0C102D;
    background-color: #0C102D;
    width: 344px;
    height: 405px;
}

.block {
    cursor: pointer;
    padding: 0 20px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 51.3px;
    width: 585px;
    margin: 30px 10px;
    background-size: cover;
    background-image: url("../public/questionBlock.png");
}

.extendedBlock {
    cursor: pointer;
    padding: 0 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 138px;
    width: 585px;
    margin: 30px 10px;
    background-size: cover;
    background-image: url("../public/questionBlockExtended.png");
}

.extendedBlockHeader {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.content {
    height: 490px;
    display: flex;
    justify-content: space-between;
}

.questionName {
    font-size: 24px;
    display: flex;
}
