@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/ClashFamily/ClashDisplay-Semibold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Inter, serif;
    background-color: #0C102D;
}

h1, h2, h3, h4, h5 {
    font-family: ClashDisplay, serif;
}
